{% extends "base.html" %}


{% block title %}
	Eldor Bekpulatov's Project Portfolio Overview
{% endblock %}

{% block favicon %}
	{{url_for('static', filename='images/index/favicon.ico')}}
{% endblock %}


{% block content %}
	<svg></svg>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index/custom.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='js/index/d3.v4.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/index/custom.js') }}"></script>
{% endblock %}


